<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>web-meirong</display-name>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.qingke.danci.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/QingkeDanci/IndexServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <context-param>
    <param-name>context1</param-name>
    <param-value>value1</param-value>
  </context-param>
  <context-param>
    <param-name>context2</param-name>
    <param-value>value2</param-value>
  </context-param>
</web-app>