<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
      <!-- one -->
   <bean name="user" class="com.java.bean.User" init-method="init" destroy-method="destroy"></bean>    
 	
 	<!-- two -->
  	 <bean name ="user2"
  	 class="com.java.b_create.UserFactory" 
  	 factory-method="createUser"></bean> 
  	 
  	 <!-- three --> 
  	 <bean name ="user3"
  	 factory-bean="userFactory"
  	 factory-method="createUser2">
  	 </bean>
  	 
  	 <bean name = "userFactory" class="com.java.b_create.UserFactory"></bean>
</beans>